<div class="app-mobile">
  <!-- Section Title -->
  <info-section
    title="App Mobile - Android - IOS"
    description="Tổng hợp các tip về Lập trình App Mobile"
  ></info-section>

  <div class="row">
    <!-- Col 1 -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <data-json-section
        data-url="../data/app/flutter/layout-widget.json"
      ></data-json-section>
    </div>

    <!-- Col 2 -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <data-json-section
        data-url="../data/app/flutter/display-style-widget.json"
      ></data-json-section>
    </div>

    <!-- Col 3 -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <data-json-section
        data-url="../data/app/flutter/functional-widget.json"
      ></data-json-section>
    </div>

    <!-- Col 4 -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <data-json-section
        data-url="../data/app/flutter/navigation-widget.json"
      ></data-json-section>
    </div>

    <!-- Col 5 -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <data-json-section
        data-url="../data/app/flutter/input-interaction-widget.json"
      ></data-json-section>
    </div>

    <!-- Col 6 -->
    <div class="col-lg-4 col-md-6 col-sm-12">
      <data-json-section
        data-url="../data/app/flutter/state-widget.json"
      ></data-json-section>
    </div>
  </div>
</div>
