<header class="header">
  <div class="header__inner">
    <!-- Logo -->
    <a href="/" class="logo">
      <div class="logo__image">
        <img src="../../assets/images/logo.svg" alt="" class="logo__img" />
      </div>
      <h1 class="logo__text">Document code</h1>
    </a>

    <!-- Search -->
    <div class="search">
      <button class="search__icon">
        <img
          src="../../assets/icons/search.svg"
          alt=""
          class="search__icon-img"
        />
      </button>
      <input
        type="search"
        name=""
        id=""
        class="search__input"
        placeholder="Tìm kiếm..."
      />
    </div>

    <!-- Profile -->
    <div class="profile">
      <div class="profile__toggle">
        <img
          src="../../assets/images/avatar.jpg"
          alt="User Avatar"
          class="profile__avatar"
        />
      </div>

      <div class="profile__dropdown">
        <a href="#!" class="profile__item">
          <img src="../../assets/icons/user.svg" alt="" class="profile__icon" />
          <span>My Account</span>
        </a>
        <a href="#!" class="profile__item">
          <img
            src="../../assets/icons/setting.svg"
            alt=""
            class="profile__icon"
          />
          <span>Settings</span>
        </a>
        <div class="profile__divider"></div>
        <a href="#!" class="profile__item profile__item--logout">
          <img
            src="../../assets/icons/logout.svg"
            alt=""
            class="profile__icon"
          />
          <span>Logout</span>
        </a>
      </div>
    </div>
  </div>
</header>
