<div class="nav__inner">
  <ul class="nav__list">
    <li class="nav__item active">
      <a href="/" class="nav__link navbar__link" data-page="home">
        <div class="nav__icon">
          <img src="../assets/icons/home.svg" alt="" class="nav__icon-img" />
        </div>
        <span class="nav__text">Trang chủ</span>
      </a>
    </li>
    <li class="nav__item">
      <a
        href="../pages/frontend.html"
        class="nav__link navbar__link"
        data-page="frontend"
      >
        <div class="nav__icon">
          <img
            src="../assets/icons/frontend.svg"
            alt=""
            class="nav__icon-img"
          />
        </div>
        <span class="nav__text">Frontend</span>
      </a>
    </li>
    <li class="nav__item">
      <a
        href="../pages/backend.html"
        class="nav__link navbar__link"
        data-page="backend"
      >
        <div class="nav__icon">
          <img src="../assets/icons/backend.svg" alt="" class="nav__icon-img" />
        </div>
        <span class="nav__text">Backend</span>
      </a>
    </li>
    <li class="nav__item">
      <a
        href="../pages/app-mobile.html"
        class="nav__link navbar__link"
        data-page="app-mobile"
      >
        <div class="nav__icon">
          <img
            src="../assets/icons/mobile-app.svg"
            alt=""
            class="nav__icon-img"
          />
        </div>
        <span class="nav__text">App</span>
      </a>
    </li>
  </ul>
</div>
